kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leaf-hub-status-sync
subjects:
- kind: ServiceAccount
  name: leaf-hub-status-sync
  namespace: open-cluster-management
roleRef:
  kind: ClusterRole
  name: leaf-hub-status-sync
  apiGroup: rbac.authorization.k8s.io
---

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: leaf-hub-status-sync
rules:
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - managedclusters
  - managedclusters/finalizers
  - placementdecisions
  - placementdecisions/finalizers
  - placements
  - placements/finalizers
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - policy.open-cluster-management.io
  resources:
  - policies
  - policies/finalizers
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - hub-of-hubs.open-cluster-management.io
  resources:
  - configs
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  - namespaces
  - configmaps
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.open-cluster-management.io
  resources:
  - placementrules
  - placementrules/finalizers
  - subscriptionstatuses
  - subscriptionstatuses/finalizers
  - subscriptionreports
  - subscriptionreports/finalizers
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - create
  - update
  - delete
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: leaf-hub-status-sync
  namespace: open-cluster-management
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: sync-intervals
  namespace: hoh-system
data:
  managed_clusters: "5s"
  policies: "5s"
  control_info: "60m"
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: leaf-hub-status-sync
  namespace: open-cluster-management
spec:
  replicas: 1
  selector:
    matchLabels:
      name: leaf-hub-status-sync
  template:
    metadata:
      labels:
        name: leaf-hub-status-sync
    spec:
      serviceAccountName: leaf-hub-status-sync
      containers:
        - name: leaf-hub-status-sync
          image: $IMAGE
          args:
            - '--zap-devel=true'
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                 apiVersion: v1
                 fieldPath: metadata.namespace
            - name: LH_ID
              value: "$LH_ID"
            - name: TRANSPORT_TYPE
              value: "$TRANSPORT_TYPE"
            - name: TRANSPORT_MESSAGE_COMPRESSION_TYPE
              value: "gzip"
            - name: KAFKA_PRODUCER_ID
              value: "$LH_ID"
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "$KAFKA_BOOTSTRAP_SERVERS"
            - name: KAFKA_TOPIC
              value: "status"
            - name: KAFKA_MESSAGE_SIZE_LIMIT_KB
              value: "940"
            - name: KAFKA_SSL_CA
              value: "$KAFKA_SSL_CA"
            - name: COMPLIANCE_STATUS_DELTA_COUNT_SWITCH_FACTOR
              value: "100"
            - name: SYNC_SERVICE_PROTOCOL
              value: "http"
            - name: SYNC_SERVICE_HOST
              value: sync-service-ess.sync-service.svc.cluster.local
            - name: SYNC_SERVICE_PORT
              value: "$SYNC_SERVICE_PORT"
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                 apiVersion: v1
                 fieldPath: metadata.namespace
